//LIGHT
$alpha: #112031;
$beta: #ddeeed;
$gamma: #3a8b86;

$alpha-opaque: #112031af;
$gamma-opaque: #3a8b869a;

$white: #f4f9ff;
$black: #082032;

//DARK
$rei: #112031;
$ichi: #00c6be;
$ni: #746293;

$rei-opaque: #112031af;
$ni-opaque: #7462939a;
