@import "../abstracts/mixins";
@import "../abstracts/variables";

.root21 {
  height: 100vh;
  width: 90vw;
  margin-left: 10vw;
  // background-image: linear-gradient(
  //   to left bottom,
  //   #0eea34,
  //   #00eb7b,
  //   #00e9ac,
  //   #00e5cf,
  //   #33dee1
  // );
  background-image: url("../../assets/b.jpg");
  background-position: center;
  background-size: cover;

  @include flex(column, center, center);
  &__card {
    width: 91%;
    height: 91%;

    background-image: url("../../assets/bg.svg");
    background-position: center;
    background-size: cover;

    @include glass();
    @include flex(column, space-between, center);

    border-radius: 0.7rem;
    padding: 0.7rem;
    &__head {
      height: 30%;
      width: 100%;

      padding: 0 2.1rem;
      @include flex(row, center, center);
      &__title,
      &__menu {
        font-size: 1.7rem;
        text-transform: uppercase;
        letter-spacing: 1.4rem;
        &:hover {
          color: salmon;
          cursor: pointer;
        }
      }
      &__menu {
        color: #fff;
      }
    }
    &__body {
      height: 63%;
      width: 70%;

      padding: 3.5rem;

      @include flex(column, space-evenly, center);
      &__options {
        @include flex(column, center, center);
        padding: 2.1rem;
        font-size: 2.1rem;
        border-radius: 2.1rem;
        height: 10vh;
        width: 77%;
        @include glass();
        &:hover {
          box-shadow: 0 0.2rem 0.2rem #777, 0 0.2rem 0.2rem #777;
        }
      }
    }
    &__foot {
      height: 7%;
      width: 100%;

      padding: 0 2.1rem;
      @include flex(row, center, center);
    }
  }
  @media (max-width: 700px) {
    margin-left: 0;
    width: 100vw;
    &__card {
      width: 100%;
      height: 100%;
    }
  }
}
