@import "../abstracts/variables";
@import "../abstracts/mixins";

.center {
  position: absolute;
  height: 84vh;
  width: 63vw;

  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__header {
    height: 10vh;
    width: 100%;
    background-color: none;
    @include flex(row, space-between, center);
    font-family: "Style Script", cursive;
    & > h3 {
      font-size: 4.9rem;
      letter-spacing: 0.7rem;
    }
  }

  &__input {
    height: 10vh;
    margin: 3vh 0;
    border-radius: 0.7rem;
    @include flex(row, none, center);
    & > input {
      height: 100%;
      width: 90%;
      border-radius: 0.7rem;
      border: none;
      padding: 1.4rem;
      font-size: 1.7rem;
      &:focus {
        outline: none;
      }
    }
    & > button {
      height: 100%;
      width: 10%;
      border-radius: 0.7rem;
      border: none;
      padding: 1.4rem;
      font-size: 2.1rem;
    }
  }

  &__body {
    height: 62vh;
    width: 100%;
    border-radius: 0.2rem;
    &__list {
      border-bottom-style: solid;
      padding: 0.7rem;
      height: 4.2rem;
      @include flex(row, space-between, center);
    }
  }
}
