.landing {
  width: 100vw;
  height: 100vh;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .landing-box {
    width: 100% ;
    display: flex;
    flex-direction: row;
    &__item1 {
      flex-basis: 30vw;
    }
    &__item2 {
      flex-basis: 30vw;
      color: white;
    }
  }
}
