//============================================
// Pages
//============================================
@import "./pages/2021";

//============================================
// Layout
//============================================
@import "./layout/footer";
@import "./layout/navbar";

//============================================
// Abstracts
//============================================
@import "./abstracts/mixins";
@import "./abstracts/variables";

//============================================
// Base
//============================================
@import "./base/resets";
@import "./base/typography";
